/* Global Styles*/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.alert {
	margin-top: 10px;
}
#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}
#group-selector {
	margin-top: 30px;
}
#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555
}
h3{
	text-align: center;
	font-size: 12;
}
h3 a:hover{
	text-decoration: none; 
}
#main{
	position: right;
}
.pull-right{
	float: right;
}
#selectgroop, #loadfoto{
	width: 182px
}
.btn-primary{
	margin-top: 20px;
}
.save{
	margin-top: 0;
	margin-bottom: 5px;
}
.forms_foot{
	background-color: #d8d8d8;
}

/* Form Styles*/
textarea, select, input {
	max-width: 300px;
}
/* User's Toolbar */
#user-toolbar {
	margin-top: 30px;
	text-align: right;
}